# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.env/
.venv/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Database (local)
# =========================
*.sqlite3

# =========================
# Python build
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db